.p-flow {
  background: #FF9C45;
  transform: translateY(30px);
  opacity: 0;
  visibility: hidden;
  transition: transform 3s, opacity 3s, visibility 1s;
  max-width: 900px;
  margin: 0 auto;
}
.p-flow__emphasis {
  width: 100%;
  color: #FF9C45;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 5px;
  font-size: 32px;
  font-size: 3.2rem;
  text-shadow: 1px 1px 0 #FFF, -1px -1px 0 #FFF, -1px 1px 0 #FFF, 1px -1px 0 #FFF, 0px 1px 0 #FFF, -1px 0 #FFF, -1px 0 0 #FFF, 1px 0 0 #FFF;
  position: relative;
}
@media screen and (max-width: 768px) {
  .p-flow__emphasis {
    font-size: 22px;
    font-size: 2.2rem;
  }
}
.p-flow__emphasis::before {
  content: "";
  width: 80%;
  height: 40%;
  background: url("https://raw.githubusercontent.com/FREECODING1/spkadai.github.io/029562ed5723da6464ab4d8ce7a0b8336a7b891a/%E5%AE%9F%E5%8B%99img/SP/%E3%82%B0%E3%83%AB%E3%83%BC%E3%83%97%20105%20(1).svg");
  background-repeat: no-repeat;
  margin-left: -12%;
  position: absolute;
  transform: translate(20%, 30%);
}
@media screen and (max-width: 768px) {
  .p-flow__emphasis::before {
    top: 5px;
    left: 18%;
    background-size: contain;
    width: 15%;
  }
}
.p-flow__emphasis::after {
  content: "";
  width: 80%;
  height: 40%;
  margin-left: 5%;
  background: url("https://raw.githubusercontent.com/FREECODING1/spkadai.github.io/029562ed5723da6464ab4d8ce7a0b8336a7b891a/%E5%AE%9F%E5%8B%99img/SP/%E3%82%B0%E3%83%AB%E3%83%BC%E3%83%97%20105%20(1).svg");
  background-repeat: no-repeat;
  position: absolute;
  transform: translate(75%, 30%);
}
@media screen and (max-width: 768px) {
  .p-flow__emphasis::after {
    top: 5px;
    right: 22%;
    background-size: contain;
    width: 15%;
  }
}
.p-flow__word {
  font-size: 15px;
  font-size: 1.5rem;
  text-align: center;
  color: #fff;
}
.p-flow__list {
  padding: 8px;
  width: 90%;
  margin: 0 auto;
}
.p-flow__item {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: start;
  margin: 50px auto;
}
.p-flow__item:nth-child(1) {
  margin: 0 auto;
}
.p-flow__item::after {
  content: "";
  position: absolute;
  border-top: 20px solid #fff;
  border-right: 20px solid transparent;
  border-left: 20px solid transparent;
  margin: 40px auto;
  transform: translateY(70px);
  left: 45%;
}
.p-flow__item:last-child:after {
  display: none;
}
.p-flow__lead {
  margin-left: 20px;
  color: #fff;
}
.p-flow__block {
  display: flex;
  align-items: center;
}
.p-flow__inner {
  border: 1px solid #fff;
  border-radius: 100%;
  padding: 3px 3px 0;
  width: 100px;
}
.p-flow__number {
  font-size: 27px;
  font-size: 2.7rem;
  letter-spacing: 2px;
}
@media screen and (max-width: 768px) {
  .p-flow__number {
    font-size: 24px;
    font-size: 2.4rem;
  }
}
.p-flow__title {
  font-size: 20px;
  font-size: 2rem;
}
@media screen and (max-width: 768px) {
  .p-flow__title {
    font-size: 16px;
    font-size: 1.6rem;
  }
}
.p-flow__text {
  font-size: 16px;
  font-size: 1.6rem;
}
@media screen and (max-width: 768px) {
  .p-flow__text {
    font-size: 13px;
    font-size: 1.3rem;
  }
}

.is-fadein {
  transform: translateX(0);
  opacity: 1;
  visibility: visible;
}