.p-teacher {
  background: #FF9C45;
  z-index: 1;
  transform: translateY(30px);
  opacity: 0;
  visibility: hidden;
  transition: transform 3s, opacity 3s, visibility 1s;
  max-width: 900px;
}
.p-teacher__container {
  width: 100vw;
}
.p-teacher__parts {
  position: relative;
  padding-top: 50px;
}
.p-teacher__emphasis {
  width: 100%;
  color: #FF9C45;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 5px;
  font-size: 32px;
  font-size: 3.2rem;
  text-shadow: 1px 1px 0 #FFF, -1px -1px 0 #FFF, -1px 1px 0 #FFF, 1px -1px 0 #FFF, 0px 1px 0 #FFF, -1px 0 #FFF, -1px 0 0 #FFF, 1px 0 0 #FFF;
  margin: 10px auto;
  position: relative;
}
@media screen and (max-width: 768px) {
  .p-teacher__emphasis {
    width: 75%;
    font-size: 22px;
    font-size: 2.2rem;
  }
}
.p-teacher__emphasis::before {
  content: "";
  width: 80%;
  height: 40%;
  background: url("https://raw.githubusercontent.com/FREECODING1/spkadai.github.io/029562ed5723da6464ab4d8ce7a0b8336a7b891a/%E5%AE%9F%E5%8B%99img/SP/%E3%82%B0%E3%83%AB%E3%83%BC%E3%83%97%20105%20(1).svg");
  background-repeat: no-repeat;
  margin-left: 12%;
  position: absolute;
}
@media screen and (max-width: 768px) {
  .p-teacher__emphasis::before {
    top: 9px;
    left: -15%;
    background-size: contain;
    width: 15%;
  }
}
.p-teacher__emphasis::after {
  content: "";
  width: 80%;
  top: 10px;
  height: 15px;
  margin-left: 7%;
  background: url("https://raw.githubusercontent.com/FREECODING1/spkadai.github.io/029562ed5723da6464ab4d8ce7a0b8336a7b891a/%E5%AE%9F%E5%8B%99img/SP/%E3%82%B0%E3%83%AB%E3%83%BC%E3%83%97%20105%20(1).svg");
  background-repeat: no-repeat;
  position: absolute;
  transform: translate(75%, 30%);
}
@media screen and (max-width: 768px) {
  .p-teacher__emphasis::after {
    top: 5px;
    right: 10%;
    background-size: contain;
    width: 15%;
  }
}
.p-teacher__word {
  font-size: 15px;
  font-size: 1.5rem;
  text-align: center;
  color: #fff;
}
.p-teacher__text {
  text-align: center;
  width: 90%;
  font-size: 16px;
  font-size: 1.6rem;
  color: #fff;
  margin: 20px auto;
}
.p-teacher__list {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 30% 30% 30%;
  gap: 5% 5%;
  padding: 20px 10% 5% 8%;
  width: 70%;
}

.is-fadein {
  transform: translateX(0);
  opacity: 1;
  visibility: visible;
}