.p-voice {
  padding: 50px 20px;
  background: #FF9C45;
  margin-bottom: 620px;
  transform: translateY(30px);
  opacity: 0;
  visibility: hidden;
  transition: transform 3s, opacity 3s, visibility 1s;


  &__container {
    position: relative;
    margin-bottom: 10%;
  }

  &__emphasis {
    width: 100%;
    color: #FF9C45;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 5px;
    font-size: 32px;
    font-size: 3.2rem;
    text-shadow:1px 1px 0 #FFF, -1px -1px 0 #FFF,
              -1px 1px 0 #FFF, 1px -1px 0 #FFF,
              0px 1px 0 #FFF,  0-1px 0 #FFF,
              -1px 0 0 #FFF, 1px 0 0 #FFF;
    margin: 10px 0;
    position: relative;

    @media screen and (max-width: 768px){
      font-size: 22px;
      font-size: 2.2rem;
    }
  }

  &__emphasis::before {
    content: "";
    width: 80%;
    height: 40%;
    background: url("../../実務img/SP/グループ 105 (1).svg");
    background-repeat: no-repeat;
    margin-left: -12%;
    position: absolute;
    transform: translate(20%,30%);

    @media screen and (max-width: 768px){
      top: 5px;
      left: 21%;
      background-size: contain;
      width: 15%;   
    }
  }

  &__emphasis::after {
    content: "";
    width: 80%;
    height: 40%;
    margin-left: 7%;
    background: url("../../実務img/SP/グループ 105 (1).svg");
    background-repeat: no-repeat;
    position: absolute;
    transform: translate(75%, 30%);

    @media screen and (max-width: 768px){
      top: 5px;
      right: 18%;
      background-size: contain;
      width: 15%;  
    }
  }

  &__word {
    font-size: 15px;
    font-size: 1.5rem;
    text-align: center;
    color: #fff;
  }



  &__slider {
    position: relative;
    width: 100%;
  }

  &__list {
    padding: 0;
    position: relative;
    align-items: center;
    z-index: 1;
    top: 0;
    left: 8%;
    width: 85%;
    height: 100%;
    margin: 0;
  }

  &__item {
    background: #fff;
    box-shadow: 8px 8px;
    left: 0;
    top: 0;
  }

  &__buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__button {
    width: 4rem;
    height: 4rem;
    display: block;
    background-color: transparent;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 0;
    z-index: 2;
    cursor: pointer;

    &.is-prev {
      margin-left: 17%;
      width: 3rem;
      height: 3rem;
      border-bottom: solid 4vw transparent;
      border-top: solid 4vw transparent;
      border-left: solid 4vw transparent;
      border-right: solid 4vw #FF9C45;
      margin-top: 150px;
    }

    &.is-next {
      width: 3rem;
      height: 3rem;
      border-bottom: solid 4vw transparent;
      border-top: solid 4vw transparent;
      border-left: solid 4vw #FF9C45;
      border-right: solid 4vw transparent;
      margin-top: 150px;
      margin-left: 77%;
    }
  }

  &__span {
    position: relative;
    z-index: 1;
    color: #fff;
    background: #595757;
    top: -5px;
    font-size: 15px;
    font-size: 1.5rem;
    width: 14%;
    height: 50px;
    right: -75%;
    display: flex;
    align-items: center;
    justify-content: center;

    @media screen and (max-width: 768px){
      font-size: 12px;
      font-size: 1.2rem;
    }
  }
  
  &__span::after {
    content: "";
    background-color: #fff;
    width: 130%;
    height: 15%;
    border: 15px solid transparent;
    position: absolute;
    clip-path: polygon(0 30%, 30% 0, 60% 30%);
    top: 78%;
    left: 50%;
    transform: translateX(-30%);
  }

  &__photo {
    width: 50%;
    margin: 20px auto;
    border-radius: 100%;
    object-fit: contain;
    overflow: hidden;
    display: flex;
    align-items: center;
  }

  &__photoBox {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__lead {
    margin: 0 auto;
    width: 70%;
  }

  &__name {
    margin-top: 40px;
    font-weight: bold;
    font-size: 16px;
    font-size: 1.6rem;
    text-align: center;
    padding-bottom: 30px;
    position: relative;
  }

  &__name::after {
    content: "";
    border-bottom: 1px solid #FF9C45;
    width: 100%;
    height: 1px;
    position: absolute;
    padding-bottom: 8px;
    display: flex;
    justify-content: center;
  }

  &__text {
    font-size: 14px;
    font-size: 1.4rem;
    padding-bottom: 30px;
  }
}


  @keyframes slide{
    0% {
      left: 100%; /*右*/
    }
    3%, 25%{ /*画像が4枚なので 1/4 まで*/
      left: 0; /*表示*/
    }
    28%,100%{
      left: -100%; /*左*/
    }
  }

  @keyframes slide-start{
    0%,25%{
      left: 0; /*表示*/
    }
    28%,100%{
      left: -100%; /*左へ隠す*/
    }
  }
